body {
  background-color: #11999E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather';
  font-size: 2em;
}

.h1{
  font-size: 4rem;
  margin:0 auto 0 auto;
  font-family: 'ink free';
  color: #66BFBF;
}
.p{
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: normal;
  color: #66BFBF;
}

.cloud1 {
  position: absolute;
  right:  300px;
  top: 0;
}

.mountain {
  position: relative;
  left: 310px;
  bottom: 0;
}

.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 250px
}
